
@model BL.ViewModels.CourseVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}


<div class="content">
    @using (Html.BeginForm("UpdateCourse", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(s => s.title, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(s => s.description, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.hours, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.hours, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(s => s.hours, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
            <img src="~/Content/@Model.image" style="width:150px;height:150px" />
            @Html.HiddenFor(model => model.image, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.RadioButton("option", "Checked")
            <label>If You Want To Change This Image You Can </label>
            <br />
            @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" id="ImageFile" name="ImageFile" />
            @Html.ValidationMessageFor(s => s.image, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    }


</div>


@section scripts{
    @*Unbtrousive Validator*@
    @Scripts.Render("~/bundles/jqueryval")
}



