@model IEnumerable<BL.ViewModels.StudentVM>

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}
<br /><br /><br />

<h2>Students</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img src="~/Content/@item.image" width="100px" height="100px" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.age)
    </td>
    <th>
        @Html.DisplayFor(model => item.gender)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.user.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.user.Email)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
        @Html.ActionLink("Details", "Details", new { id = item.ID }) 
      @* @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
        @using (Html.BeginForm("Delete", "Student", new { id= item.ID }))
        {
            <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are U sure for Delete EmpId=@item.ID')" />
        }
    </td>
</tr>
}

</table>
